.mainApp {

}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 1px #fff;
  z-index: 10;
  border-radius: 10px;
  animation: cursorAnimation1 .5s infinite alternate;
  pointer-events: none;
  transition: .2s ease;
}

.cursor::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 8px gray;
  border-radius: 50%;
  animation: cursorAnimation2 .5s infinite alternate;
  opacity: .5;
  top: -9px;
  left: -9px;
}

@keyframes cursorAnimation1 {
  from {
    transform: scale(1);
  } to {
    transform: scale(.7);
  }
}

@keyframes cursorAnimation2 {
  from {
    transform: scale(1);
  } to {
    transform: scale(.3);
  }
}